<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<section>
    <img src="https://t4.ftcdn.net/jpg/04/42/09/11/360_F_442091153_iwci64DVSlumZalvBMqkmlGAKMShswvV.jpg" align="right" width="1000" height="600">
    <div class="container">
        <br>
        <br>
    <form th:method="POST" th:action="@{/}" th:object="${mail}" class="form-container">
      <h1 >Send Message</h1>
       <div class="form-group">
        <label for="to"><b>To</b></label>
           <br>
        <input type="text" th:field="*{to}" placeholder="To" name="to" id="to" required>
       </div>
        <div class="form-group">
        <label for="subject"><b>Subject</b></label>
        <br>
        <input type="text" th:field="*{subject}" placeholder="Enter Subject" name="subject" id="subject" required>
        </div>
        <label for="message"><b>Message</b></label>
        <br>
        <textarea  th:field="*{message}" placeholder="Enter message" name="message" id="message" required></textarea>
        <br>
        <input type="file" id="actual-btn" hidden/>
        <br>
        <label class="label_file" for="actual-btn">Choose File</label>
        <input  value="No file chosen" th:field="*{attachment}" id="file-chosen" readonly>
        <br>
        <button id="myBtn" type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary" value="Reset">Reset</button>
    </form>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Succes</p>
        </div>
    </div>
        <a href="/inbox">Open Inbox</a>
     </div>
   </section>
</body>
<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function() {   modal.style.display = "block"; }
    span.onclick = function() {   modal.style.display = "none"; }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        } }
</script>
<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');
    var fileSize = 0;

    actualBtn.addEventListener('change', function(){
        fileSize = this.files[0].size/1000000;
        console.log(fileSize)
        if (fileSize > 2){
            alert('File-ul introdus depaseste dimensiunea de 2MB')
        }else {
            fileChosen.value = this.files[0].name;
        }
    })
</script>
</html>
